<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Últimas Vulnerabilidades CVE</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/styles.css" rel="stylesheet">
</head>
<body>
    <div class="container" id ="contenido">
        {% with title='Últimas Vulnerabilidades CVE', subtitle='Información detallada sobre vulnerabilidades recientes', active_page='api' %}
        {% include 'header.html' %}
        {% endwith %}

        <div class="row">
            {% for cve in cves %}
            <div class="col-md-12 mb-4">
                <div class="card">
                    {% if cve.get('cveMetadata') %}
                        <div class="card-header">
                            {{ cve['cveMetadata']['cveId'] }}
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3 mb-3">
                                    <div class="stat-card">
                                        <div class="stat-label">Fecha de publicación</div>
                                        <div class="stat-value">{{ cve['cveMetadata']['datePublished'] }}</div>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <h5 class="group-title">Descripción</h5>
                                    <p>{{ cve['containers']['cna']['descriptions'][0]['value'] }}</p>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="card-header">
                            {{ cve['cveId'] }}
                        </div>
                        <div class="card-body">
                            <p>No hay información detallada disponible para esta vulnerabilidad.</p>
                        </div>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>